<div class="h-screen font-serif p-20 bg-about mt-2  grid grid-cols-5">

    <div class="col-span-2">
        <div>
            <h1 class="h1">Nice to meet you! </h1>
        </div>
    
        <div>
            <div class="mt-4">
                <img src="../../../assets/Designer (3).jpeg" class="rounded-b-full overflow-hidden w-80" alt="">
            </div>
    
            <div class="m-4 word-art text-5xl text-center">
                <h1>JOHN</h1>
                <h1>MUKUNA</h1>
            </div>
    
            <div class="m-4 justify-center">
                <button class="btn"> Download My CV 
                    <i class="fa-solid fa-download"></i>
                </button>
            </div>
        </div>
    </div>

    <div class=" col-span-3 m-4 grid grid-cols-2 gap-8 p-4">
        <div>
            <h1 class="p-2 font-bold">
                <span class="text-5xl key-titles">10+</span> <span class="h3 ml-2">Years of Experince</span>
            </h1>
            
            <p class="mt-2">
                Hello there! My name is John Mukuna. I am a web designer & developer, and I'm very passionate and dedicated to my work.

            </p>
        </div>

        <div>
            <h1 class="p-2 font-bold">
                <span class="text-5xl key-titles">50+</span> <span class="h3 ml-2">Clients Worldwide</span>
            </h1>
            <p class="mt-2">
                With 10+ years experience as a professional designer, I have acquired the skills to make your project a success.
            </p>
        </div>

        <div class="col-span-2 bg-[#251f3e] text-center p-5 justify-center my-auto rounded-lg">
            <i class="fa-solid fa-quote-left"></i>
            <p><i>
                Programming is discovery as much as it is construction. As you code, you gain new insights, both on the problem and on how best to structure the solution. </i></p>
                <i class="fa-solid fa-quote-right"></i>
        
            </div>

    </div>

</div>