<div class="bg-main h-screen">
    <div class="flex justify-between p-10">
        <div class="text-7xl text-white font-bold font-mono p-20 ">
            <h1>MY NAME</h1>
            <h1>IS JOHN</h1>
            <h1 class="text-pink-600 word-art">MUKUNA ...</h1>
            <p class="mt-5 text-3xl">A developer from Kenya</p>
            
        </div>
        
    
        <div class="p-10 ">
            <img src="../../../assets/me.jpg" class="w-80 rounded-full" alt="">
        </div>
    </div>

    <div class="ml-40">
        <button class="btn"> Work with me
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </button>
    </div>
    

</div>
