
<div>
    <p>SPECIALITIES</p>
</div>
<div class="h-auto font-serif p-5 bg-about mt-2 grid grid-cols-2 lg:grid-cols-4 gap-4">



    <div class="skills-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1SmylsgYtG0Yf-McK4-nk5Zh5pMY1UcIELw&s" 
        class="w-10 sm:w-16 rounded-full" alt="">
        <p>Angular</p>
    </div>

    <div class="skills-card">
        <img src="https://go.dev/blog/go-brand/Go-Logo/PNG/Go-Logo_Blue.png"
        class="w-16 rounded-full p-2" alt="">
        <p>Golang</p>
    </div>

    <div class="skills-card">
        <img src="https://img.icons8.com/color/512/typescript.png"
        class="w-16 rounded-full  p-2" alt="">
        <p class="text-sm p-2">Type Script</p>
    </div>

    <div class="skills-card">
        <img src="https://icon2.cleanpng.com/20180816/ql/7da0574f943d245723f512620b4e3c51.webp" 
        class="w-16 bg-transparent p-2" alt="">
        <p>CSS</p>
    </div>

    <div class="skills-card">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968342.png" 
        class="w-16 bg-transparent p-2" alt="">
        <p>Postre SQL</p>
    </div>
    
    <div class="skills-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/HTML5_logo_black.svg" 
        class="w-16 bg-transparent p-2"  alt="">
        <p>HTML</p>
    </div>

    <div class="skills-card">
        <img src="https://img.icons8.com/?size=512&id=PXTY4q2Sq2lG&format=png"
        class="w-16 bg-transparent p-2" alt="">
        <p>Java Script</p>
    </div>

</div>