<div class="h-screen font-serif p-20 bg-about mt-2 ">


    <div class="space-y-8 mb-8">
        <h3 class="h3">My Services</h3>
        <h1 class="text-5xl">MY SPECIALITIES</h1>
    </div>

    <div class="mt-8 space-y-8">

        <div class="p-5">

            <div class="flex justify-between items-center">
                <div>
                    <li class="h1">Angular FrontEnd Development</li>
                </div>
                <div>
                    <button>
                        <i class="fa-solid fa-plus"></i>

                    </button>
                </div>
            </div>
        
        </div>

        <hr class="border-pink-700">


        <div class="p-5">

            <div class="flex justify-between items-center">
                <div>
                    <li class="h1">Golang Backend</li>
                </div>
                <div>
                    <button>
                        <i class="fa-solid fa-plus"></i>

                    </button>

                </div>
            </div>
        
        </div>

               <hr class="border-pink-700">
        


        <div class="p-5">

            <div class="flex justify-between items-center">
                <div>
                    <li class="h1">Others</li>
                </div>
                <div>
                    <button>
                        <i class="fa-solid fa-plus"></i>

                    </button>
                </div>
            </div>
        
        </div>

        <hr class="border-pink-700">
        


    </div>


</div>