<div class="h-auto font-serif p-10 lg:p-20  mt-2 bg-background">

    <div class="space-y-8 mb-8">
        <h1 class="text-5xl font-extralight text-center">My Work</h1>
        <h3 class="h3 text-center ">PROJECTS</h3>
    </div>

    <div class="mt-8 grid grid-cols-1 xl:grid-cols-3 gap-6">


        <div class="card">
            <h3 class="h3 p-2">Emission Insight</h3>

            <img src="../../../assets/emission.jpeg" 
            class="rounded-t-lg w-80 p-2" alt="">
            <div class="p-4">
            <p class="text-lg font-bold  tracking-tight">The View and the Cloud AWS infrastructure</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
            </p>

            </div>

        </div>

        <div class="card ">
            <img src="https://private-user-images.githubusercontent.com/88624924/296436682-6525c945-69ae-4cea-86f7-e4063396292c.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzAwNTQxMzcsIm5iZiI6MTczMDA1MzgzNywicGF0aCI6Ii84ODYyNDkyNC8yOTY0MzY2ODItNjUyNWM5NDUtNjlhZS00Y2VhLTg2ZjctZTQwNjMzOTYyOTJjLmpwZWc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDI3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyN1QxODMwMzdaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT02YmVjNGQ5NjY2YTJjYjgyMWY2N2JkN2M3YzlkY2IxMTRhZjJlMTgzMzM5NWIxNTRiYTIzMTJiOWY1ZWVlYjViJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.tmvEbdc8U17Z1WKMP_XWeBJaSJRjb9YagHs9ERW_O68" 
            class="rounded-t-lg w-80" alt="">
            <div class="p-4">
            <p class="text-lg font-bold  tracking-tight">The View and the Cloud AWS infrastructure</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
            </p>

            </div>

        </div>

        



        <div class="card">
            <img src="https://private-user-images.githubusercontent.com/88624924/296436682-6525c945-69ae-4cea-86f7-e4063396292c.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzAwNTQxMzcsIm5iZiI6MTczMDA1MzgzNywicGF0aCI6Ii84ODYyNDkyNC8yOTY0MzY2ODItNjUyNWM5NDUtNjlhZS00Y2VhLTg2ZjctZTQwNjMzOTYyOTJjLmpwZWc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDI3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyN1QxODMwMzdaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT02YmVjNGQ5NjY2YTJjYjgyMWY2N2JkN2M3YzlkY2IxMTRhZjJlMTgzMzM5NWIxNTRiYTIzMTJiOWY1ZWVlYjViJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.tmvEbdc8U17Z1WKMP_XWeBJaSJRjb9YagHs9ERW_O68" 
            class="rounded-t-lg w-80" alt="">
            <div class="p-4">
            <p class="text-lg font-bold  tracking-tight">The View and the Cloud AWS infrastructure</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
            </p>

            </div>

        </div>


    </div>


</div>