<div class="h-screen font-serif p-20  mt-2 ">

    <div class="space-y-8 mb-8">
        <h3 class="h3">My Work</h3>
        <h1 class="text-5xl">PROJECTS</h1>
    </div>

    <div class="mt-8 grid grid-cols-3 gap-6">

        <div class="border border-pink-200 rounded-lg shadow ">
            <img src="https://private-user-images.githubusercontent.com/88624924/296436682-6525c945-69ae-4cea-86f7-e4063396292c.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzAwNTQxMzcsIm5iZiI6MTczMDA1MzgzNywicGF0aCI6Ii84ODYyNDkyNC8yOTY0MzY2ODItNjUyNWM5NDUtNjlhZS00Y2VhLTg2ZjctZTQwNjMzOTYyOTJjLmpwZWc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDI3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyN1QxODMwMzdaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT02YmVjNGQ5NjY2YTJjYjgyMWY2N2JkN2M3YzlkY2IxMTRhZjJlMTgzMzM5NWIxNTRiYTIzMTJiOWY1ZWVlYjViJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.tmvEbdc8U17Z1WKMP_XWeBJaSJRjb9YagHs9ERW_O68" 
            class="rounded-t-lg w-80" alt="">
            <div class="p-4">
            <p class="text-lg font-bold  tracking-tight">The View and the Cloud AWS infrastructure</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

            </div>

        </div>

        <div class="border border-pink-200 rounded-lg shadow ">
            <img src="https://private-user-images.githubusercontent.com/88624924/296436682-6525c945-69ae-4cea-86f7-e4063396292c.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzAwNTQxMzcsIm5iZiI6MTczMDA1MzgzNywicGF0aCI6Ii84ODYyNDkyNC8yOTY0MzY2ODItNjUyNWM5NDUtNjlhZS00Y2VhLTg2ZjctZTQwNjMzOTYyOTJjLmpwZWc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDI3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyN1QxODMwMzdaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT02YmVjNGQ5NjY2YTJjYjgyMWY2N2JkN2M3YzlkY2IxMTRhZjJlMTgzMzM5NWIxNTRiYTIzMTJiOWY1ZWVlYjViJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.tmvEbdc8U17Z1WKMP_XWeBJaSJRjb9YagHs9ERW_O68" 
            class="rounded-t-lg w-80" alt="">
            <div class="p-4">
            <p class="text-lg font-bold  tracking-tight">The View and the Cloud AWS infrastructure</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

            </div>

        </div>

        <div class="border border-pink-200 rounded-lg shadow ">
            <img src="https://private-user-images.githubusercontent.com/88624924/296436682-6525c945-69ae-4cea-86f7-e4063396292c.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzAwNTQxMzcsIm5iZiI6MTczMDA1MzgzNywicGF0aCI6Ii84ODYyNDkyNC8yOTY0MzY2ODItNjUyNWM5NDUtNjlhZS00Y2VhLTg2ZjctZTQwNjMzOTYyOTJjLmpwZWc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDI3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyN1QxODMwMzdaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT02YmVjNGQ5NjY2YTJjYjgyMWY2N2JkN2M3YzlkY2IxMTRhZjJlMTgzMzM5NWIxNTRiYTIzMTJiOWY1ZWVlYjViJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.tmvEbdc8U17Z1WKMP_XWeBJaSJRjb9YagHs9ERW_O68" 
            class="rounded-t-lg w-80" alt="">
            <div class="p-4">
            <p class="text-lg font-bold  tracking-tight">The View and the Cloud AWS infrastructure</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

            </div>

        </div>


    </div>


</div>