<div class="h-auto font-serif p-10 lg:p-20  mt-2 bg-background">

    <div class="space-y-8 mb-8">
        <h1 class="text-5xl font-extralight text-center">My Work</h1>
        <h3 class="h3 text-center ">PROJECTS</h3>
    </div>

    <div class="mt-8 grid grid-cols-1 xl:grid-cols-3 gap-6">


       

        <div class="card flex flex-col justify-between h-full border rounded-lg shadow-lg" >
            <h3 class="h3 p-2">Admin Blog Post Dashboard</h3>

            <img src="../../../assets/admin.png" 
            class="rounded-t-lg w-full xl:w-80 p-2" alt="">
            <div class="p-4">
            <p class="text-lg font-bold  tracking-tight">The Integration of Angular and Firebase NoSQL db</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Admin page that manages the uploading of Posts on the Firebase Cloud 
            </p>

            </div>

            <div class="flex flex-row justify-center p-4 mt-auto">
                <button class="btn_card" (click)="goToUrl('https://blog-post-admin-91l6.vercel.app/posts')">Live</button>
                <button class="btn_card" (click)="goToUrl('https://github.com/flexGURU/BlogPost-admin-')">Github</button>
            </div>

            

        </div>

        <div class="card flex flex-col justify-between h-full border rounded-lg shadow-lg" (click)="goToUrl('https://github.com/flexGURU/Emission-Insight-NG')">
            <h3 class="h3 p-2">Emission Insight</h3>

            <img src="../../../assets/emission.jpeg" 
            class="rounded-t-lg w-full xl:w-72 p-2" alt="">
            <div class="p-4">
            <p class="text-lg font-bold  tracking-tight">Cloud AWS infrastructure</p>
            <p class="mb-1 font-normal text-gray-700 dark:text-gray-400">
                IoT pipeline in the AWS cloud using a Serverless Architecture and frontend Angular Dashboard
            </p>

            </div>
            <div class="flex flex-row justify-center p-4 mt-auto">
                <button class="btn_card" (click)="goToUrl('https://github.com/flexGURU/BlogPost-admin-')">Github</button>
            </div>

        </div>

        



        <div class="card flex flex-col justify-between h-full border rounded-lg shadow-lg">
            <h3 class="h3 p-2">Eazzy Booking Buses</h3>
        
            <img src="../../../assets/erp.png" alt="ERP Logo"
                class="rounded-t-lg w-full xl:w-80 p-2">
        
            <div class="p-4 flex-1">
                <p class="text-lg font-bold tracking-tight">ERP Next and Frappe Framework</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    ERPNext-based trip booking system with M-Pesa integration and ticket delivery.
                </p>
            </div>
        
            <div class="flex flex-row justify-center p-4 mt-auto">
                <button class="btn_card" (click)="goToUrl('https://github.com/flexGURU/Booking-Application-ERPNEXT')">Github</button>
            </div>
        </div>
        

        

        <div class="card flex flex-col justify-between h-full border rounded-lg shadow-lg">
            <h3 class="h3 p-2">Eazzy Booking Buses</h3>
        
            <img src="../../../assets/model.png" alt="ERP Logo"
                class="rounded-t-lg w-full xl:w-80 p-2">
        
            <div class="p-4 flex-1">
                <p class="text-lg font-bold tracking-tight">Model Spotlight</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    A Model Blog Post Website using Angular and Firebase Cloud

                </p>
            </div>
        
            <div class="flex flex-row justify-center p-4 mt-auto">
                <button class="btn_card" (click)="goToUrl('https://github.com/flexGURU/Model-Spotlight')">Github</button>

            </div>
        </div>


    </div>


</div>