<div class="flex h-screen">
  <div class="w-1/4 bg-gray-200 hidden md:block"> 
    <app-sidebar></app-sidebar>
  </div>
  
  <div class="w-full md:w-3/4 overflow-y-auto h-full bg-main text-white"> 
    <div>
    <app-home></app-home>
    </div>    

    <div>
      <app-about></app-about>
    </div>

    <div>
      <app-experience></app-experience>
    </div>

    <div>
      <app-specialities></app-specialities>
    </div>

    <div>
      <app-projects></app-projects>
    </div>
  </div>
</div>
