<div class="bg-background h-screen  text-white">
    <div>

        <div class="text-center p-11">
            <a href="/home" class="h2">Mukuna The Great.</a>
        </div>

        <hr class="border-pink-600 w-3/4 mx-auto border-t-2">
        <ul class="ml-8 font-extralight space-y-10 h3 p-5 cursor-pointer">
            <!-- <li class="m-5"  ><a href="">HOME</a></li>
            <li class="m-5"><a href="#projects">MY WORK</a></li>
            <li class="m-5"><a href="#experience">EXPERIENCE</a></li>
            <li class="m-5"><a href="#specialities">SPECIALITIES</a></li>
            <li class="m-5"><a href="#contact">CONTACT ME</a></li> -->
            <li>
                <a 
                  href="#home" 
                  [class.active]="currentFragment === 'home' || !currentFragment"
                  (click)="scrollToFragment('home', $event)">
                  Home
                </a>
              </li>
              <li>
                <a 
                  href="#projects" 
                  [class.active]="currentFragment === 'projects'"
                  (click)="scrollToFragment('projects', $event)">
                  My Work
                </a>
              </li>
              <li>
                <a 
                  href="#experience" 
                  [class.active]="currentFragment === 'experience'"
                  (click)="scrollToFragment('experience', $event)">
                  Experience
                </a>
              </li>
              <li>
                <a 
                  href="#specialities" 
                  [class.active]="currentFragment === 'specialities'"
                  (click)="scrollToFragment('specialities', $event)">
                  Specialities
                </a>
              </li>
              <li>
                <a 
                  href="#contact" 
                  [class.active]="currentFragment === 'contact'"
                  (click)="scrollToFragment('contact', $event)">
                  Contact Me
                </a>
              </li>
            
            

          </ul>
          

    </div>

    <hr class="border-pink-600 w-3/4 mx-auto border-t-2 m-5">


    <div class="m-10 flex flex-row justify-center space-x-10">
        <div class="icons text-center">
            <i class="fa-brands fa-instagram"></i>
        </div>
    
        <div class="icons text-center">
            <i class="fa-brands fa-linkedin"></i>
        </div>
    
        <div class="icons text-center">
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
    
</div>