<div class="bg-background h-screen  text-white">
    <div>

        <div class="text-center p-11">
            <a href="/home" class="h2">Mukuna The Great.</a>
        </div>

        <hr class="border-pink-600 w-3/4 mx-auto border-t-2">

        <ul class="ml-8 h3 p-5 cursor-pointer">
            <li class=" m-5"><a href="">HOME</a></li>
            <li class=" m-5"><a href="">ABOUT</a></li>
            <li class=" m-5"><a href="">SERVICES</a></li>
            <li class=" m-5"><a href="">PORTFOLIO</a></li>
            <li class=" m-5"><a href="">BLOG</a></li>
            <li class=" m-5"><a href="">CONTACT</a></li>

        </ul>

    </div>

    <hr class="border-pink-600 w-3/4 mx-auto border-t-2 m-5">


    <div class="m-10 flex flex-row justify-center space-x-10">
        <div class="icons text-center">
            <i class="fa-brands fa-instagram"></i>
        </div>
    
        <div class="icons text-center">
            <i class="fa-brands fa-linkedin"></i>
        </div>
    
        <div class="icons text-center">
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
    
</div>