<div class="h-screen p-20 bg-experience text-white grid grid-cols-3 gap-8">
    <div class="space-y-10">

        <h3 class="h3 text-xl">Experience</h3>
        <h1 class="text-5xl font-bold">MY EXPERIENCE</h1>

        <P class="text-2xl">Hello there! My name is John Mukuna. I am a web designer & developer, and I'm very passionate and dedicated to my work.</P>

    </div>


    <div class="col-span-2 space-y-16 font-sans">

        <div>
            <div class="flex flex-row justify-between">
                <h3 class="text-[#000000] text-lg"> April 2024 - August 2024 </h3>
                <h3 class="h3 text-xl">-Emobilis Technolgy Institute</h3>
            </div>
        
        <h1 class="text-3xl font-bold"> AWS Cloud Practitioner </h1>

        </div>
        <hr class="border-t-2">
        <div>
            <div class="flex flex-row justify-between">
                <h3 class="text-[#000000] text-lg">April 2023-December 2023</h3>
                <h3 class="h3 text-xl"> -Furaha Build Ventures
                </h3>
            </div>
        
        <h1 class="text-3xl font-bold">AWS IoT Data Engineer</h1>

        </div>

        <hr>

        <div>
            <div class="flex flex-row justify-between">
                <h3 class="text-[#000000] text-lg">May-August 2022</h3>
                <h3 class="h3 text-xl">-GearBox Kenya LTD</h3>
            </div>
        
        <h1 class="text-3xl font-bold">Machine Learning Intern </h1>

        </div>



    </div>

</div>