<div class="h-auto p-5 lg:p-20 bg-experience text-white grid grid-cols-1 lg:grid-cols-2 lg:gap-8">
    <div class="space-y-10">
        <h1 class="text-2xl md:text-5xl font-extralight mb-10">EXPERIENCE</h1>
    </div>

    <div class="col-span-2 space-y-8 sm:space-y-16 font-sans">
        <!-- Experience Item 1 -->
        <div class="group hover:bg-opacity-10 hover:bg-white p-4 rounded-lg transition-all duration-300">
            <div class="flex flex-wrap items-center justify-between">
                <h3 class="bg-pink-600 text-white px-4 py-1 rounded-full text-sm font-medium">
                    April 2024 - August 2024
                </h3>
                <h3 class="h3 text-lg font-light ml-0 sm:ml-auto text-gray-300 hover:text-pink-500 transition-colors duration-300">
                    <span class="text-pink-600">→</span> Emobilis Technology Institute
                </h3>
            </div>
            <h1 class="text-lg sm:text-3xl font-bold mt-4 group-hover:text-pink-500 transition-colors duration-300">
                AWS Cloud Practitioner
            </h1>
        </div>
        <hr class="border-t border-gray-700">

        <!-- Experience Item 2 -->
        <div class="group hover:bg-opacity-10 hover:bg-white p-4 rounded-lg transition-all duration-300">
            <div class="flex flex-wrap items-center justify-between">
                <h3 class="bg-pink-600 text-white px-4 py-1 rounded-full text-sm font-medium">
                    April 2023 - December 2023
                </h3>
                <h3 class="h3 text-lg font-light ml-0 sm:ml-auto text-gray-300 hover:text-pink-500 transition-colors duration-300">
                    <span class="text-pink-600">→</span> Furaha Build Ventures
                </h3>
            </div>
            <h1 class="text-3xl font-bold mt-4 group-hover:text-pink-500 transition-colors duration-300">
                AWS IoT Data Engineer
            </h1>
        </div>
        <hr class="border-t border-gray-700">

        <!-- Experience Item 3 -->
        <div class="group hover:bg-opacity-10 hover:bg-white p-4 rounded-lg transition-all duration-300">
            <div class="flex flex-wrap items-center justify-between">
                <h3 class="bg-pink-600 text-white px-4 py-1 rounded-full text-sm font-medium">
                    May - August 2022
                </h3>
                <h3 class="h3 text-lg font-light ml-0 sm:ml-auto text-gray-300 hover:text-pink-500 transition-colors duration-300">
                    <span class="text-pink-600">→</span> GearBox Kenya LTD
                </h3>
            </div>
            <h1 class="text-3xl font-bold mt-4 group-hover:text-pink-500 transition-colors duration-300">
                Machine Learning Intern
            </h1>
        </div>
    </div>
</div>